.calendar-tooltip-gaia{
  background-image: none;
  background-color: #f5f5f5!important;
}

.calendar-today-gaia, .calendar-today-gaia.calendar-othermonth-gaia {
  background-color: #eaf5fe;
}

.calendar-row-gaia{
  height: 12vh;
}