.cw-reaction-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 4px;
}

.cw-reaction-users {
  display: flex;
  gap: 2px;
  align-items: center;
}

.cw-reaction-users img {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  border: 1px solid #ddd;
}

.cw-reactions {
  display: flex;
  gap: 4px;
  justify-content: flex-end;
}

.cw-react-btn {
  border: none;
  background: #f4f4f4;
  border-radius: 16px;
  padding: 2px 6px;
  cursor: pointer;
  transition: 0.2s;
  font-size: 13px;
  display: flex;
  align-items: center;
}

.cw-react-btn:hover {
  background: #e7e7e7;
}

.cw-react-btn.active {
  background: #d9f0ff;
  font-weight: bold;
}

.cw-react-btn span {
  font-size: 11px;
  margin-left: 3px;
}


/* a.commentlist-footer-like-count-gaia,
a.commentlist-footer-like-gaia {
  display: none !important;
} */