/* body{
  font-size: 40px;
} */

/* サイドバーコメント欄を下に移動 */
.report-front-custom .gaia-argoui-app-show-sidebar{
  position: relative!important;
  padding: 2rem;
  top: 0!important;
}

.report-front-custom .gaia-argoui-app-show-sidebar-dragged{
  width: calc(100% - 50px -1rem);
}

.report-front-custom .layout-gaia{
  padding-right: 0!important;
  width: 100% !important;
  padding: 1rem;
}

/* タブ移動 */
.report-front-custom .gaia-argoui-app-show-sidebartabs {
  position: absolute;
  top: 0;
  left: auto;
  right: 0;
}

/* .report-front-custom .gaia-argoui-app-show-sidebartabs .goog-tab-bar-start{
  display: flex;
} */

/* サイドバードラッガー削除 */
.report-front-custom .gaia-argoui-app-show-sidebar-dragger{
  display: none!important;
}

/* レコード登録画面サイズ調整 */
.report-front-custom #record-gaia{
  height: 20rem;
  overflow: scroll;
}
