#record-gaia{
  margin: 2rem;
  border-radius: 1rem;
  padding: 2rem 3rem;
}

#custom-iframe-container .gaia-argoui-app-toolbar-menu{
  display: none;
}

/* --- タスク追加ボタンの表示制御 --- */
#comment-task-launcher {
  display: none;
}

.ocean-ui-comments-commentform-open #comment-task-launcher {
  display: inline-flex;
}